<h1>New Task</h1>
<form action="/dashboard/new" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name"/>

    <label for="summary">Summary</label>
    <input type="text" id="summary" name="summary">

    <label for="description">Description</label>
    <input type="text" id="description" name="description">

    <label for="deadline">Deadline</label>
    <input type="datetime-local" id="deadline" name="deadline">

    <input type="submit" value="Create new task">
</form>